html {
	background-color: #999;
	margin: 1px;
	height: 100.1%;
}
body {
	height: auto;
	padding: 8px 18px;
	border: 1px solid navy;
	border-right: 3px solid navy;
	border-bottom: 3px solid navy;
}
h1,h2,h3,h4 {
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
}
h1 {
	font-size; 16px;
     margin: 0 8% 0 8%;
}
h2 {
     font-size: 14px;
}
h3 {
     font-size: 12px;
}
hr {
	width: 75%; 
	color: navy; 
	background-color: navy; 
	border: none; 
	height: 2px; 
	margin: 0.75em auto 1.5em auto;
}
p.note  {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 8pt; 
	font-style: italic; 
	color: navy;; 
	text-align: center; 
	margin-top: 2em; 
	padding: 0;
}
div.browser {
	display: inline;
	float: left;
	padding-left: 15%;
	font-style: italic;
	color: navy;
	font-size: 11px;
}
#plot_table {
	margin: 1em auto;
}
p.date-generated {
	text-align: left;
	padding: 3em 0 1em 24px;
	font-style: italic;
	color: navy;
	font-size: 11px;
}
#plot_table th  {
	font-family: Arial, Helvetica, sans-serif; 
	font-size: 10pt; 
	font-weight: bold;
	text-align: left;
	padding: 3px;
	background-color: #EFEFEF;
}
#plot_table td  {
	text-align: center; 
	vertical-align: top;
	padding: 6px 0 12px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#plot_table td.label {
	font-weight: bold;
	color: navy;
	padding: 6px 30px 0 0;
	text-align: center;
}
#plot_table a {
	text-decoration: none;
}
#plot_table a img {
	border: 0;
	text-align: center;
}
#available-files {
	margin: 1em 5% 1em 2%;
	text-align: center;
}
#available-files table {
	border-top: 1px solid navy;
	border-bottom: 1px solid navy;
}
#available-files th, #available-files td {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	padding: 3px 8px 3px 8px;
	text-align: center;
}
#available-files th {
	border-bottom: 1px solid navy;
	background-color: #FFFFF0;
	color: #336600;
	white-space: nowrap;
}
#available-files td {
	vertical-align: top;
	border-top: 1px solid navy;
	background-color: #FFF;
	color: #000;	
}
#available-files td.files, #available-files td.links {
	white-space: nowrap;
}
#available-files td.title {
	text-align: left;
	padding-left: 36px;
	text-indent: -30px;
	white-space: normal;
}
#dataset-details {
	margin: 1em 2.5% 1em 2.5%;
}
#dataset-details table {
	border-top: 1px solid navy;
	border-bottom: 1px solid navy;
}
#dataset-details th, #dataset-details td {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 9pt;
	border-bottom: 1px solid #DDD;
	padding: 5px;
}
#dataset-details th {
	white-space: nowrap;
	text-align: center;
	vertical-align: top; 
	width: 15%;
	font-weight: bold;
	color: #336600;
}
#dataset-details td {
	text-align: left;
	width: 85%;
}
#dataset-details th.toprow, #dataset-details td.toprow {
	font-weight: bold;
	background-color: #FFFFF0;
	border-bottom: 1px solid navy;
}
#dataset-details table.attributes {
	border: none;
	margin: 0 0 0.5em 40px;
	width: 85%;
}
#dataset-details table.attributes th,#dataset-details table.attributes td {
	background-color: #FFF;
	text-align: left;
	vertical-align: top;
	padding: 0px 5px 1px 8px;
	white-space: nowrap;
}
#dataset-details table.attributes td {
	font-weight: normal;
	border-bottom: none;
}
#dataset-details table.attributes th {
	font-weight: bold;
	border-top: 1px dotted #AAA;
	border-bottom: 1px dotted #AAA;
}
#dataset-details table.attributes td.description {
	display: none;
	white-space: normal;
}
#dataset-details p {
	margin: 0;
}
#dataset-details p.entity {
	margin-bottom: 0.5em;
	padding-left: 96px;
	text-indent: -96px;
}
#dataset-details p.entity-sub {
	margin-bottom: 0.5em;
	padding-left: 112px;
	text-indent: -96px;
}
table.stations  { 
	width: 85%;
	margin: 1em 10% 2em 5%;
	border-top: 1px solid #336600; 
	border-bottom: 1px solid #336600;
}
table.stations th  { 
	text-align: center;
	white-space: nowrap;
	padding: 3px 8px 3px 8px;
	border-bottom: 1px solid #336600;
	background-color: #FFFFF0; 
}
table.stations td  { 
	vertical-align: top;
	text-align: center;
	white-space: nowrap;
	padding: 3px 10px;
	border-bottom: 1px solid #CCCCCC;
}
table.stations td.lastrow {
	padding-bottom: 6px;
	border-bottom: none;
}
p.info  { 
	text-align: left;
	margin-top: 0;
	margin-bottom: 6px;
	border-bottom: none;
	margin-left: 36px;
	text-indent: -36px;
}
